version: '3.7'

services:
  mysql:
    container_name: biblioteca-mysql
    image: inf21dw1g04/repositorio1:parte2-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      # schema?
    networks:
      - biblioteca-network
    ports:
      - 3306:3306
  app:
    depends_on:
      - mysql
    container_name: biblioteca-app
    image: inf21dw1g04/repositorio2:parte2-app
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    networks:
      - biblioteca-network

networks:
  biblioteca-network:
